# Build
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# EF Migrations / SQLite (jakby coś było)
*.db
*.sqlite
Migrations/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Publish
publish/

# VS / IDE
.vs/
.idea/
.vscode/